# /etc/udev/rules.d/99-motionplusplus.rules
# Controllers
KERNEL=="event*", SUBSYSTEM=="input", MODE="0640", GROUP="input"
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{id/vendor}=="057e", ATTRS{id/product}=="0306", MODE="0660", GROUP="input"

# LEDS
SUBSYSTEM=="leds", KERNEL=="*057E:0306*", RUN+="/bin/chmod 660 /sys/class/leds/%k/brightness", RUN+="/bin/chgrp input /sys/class/leds/%k/brightness"
